#company-name{
    text-align: center;
    background-color:DarkTurquoise;
    font-size:40px;

}

.second-heading{
    color:goldenrod;
}

.third-heading{
    color:goldenrod;
}

.fourth-heading{
    color:goldenrod;
    text-align: left;
}

