h1{
    color:red;
    text-align:center;
    font-family:Arial, Helvetica, sans-serif;
    background-color: black;
}
.poster{
    width:1500px;
    height:750px;
    border-radius:15px;
    margin:auto;
}
h3{
    text-align:center;
    color:crimson;
}
.leon{
    height:700px;
    width:1000px;
    float:left;
    margin:auto;
}
p{
    text-align: right;
}